<%= error_messages_for 'classroom' %>

<!--[form:classroom]-->
<p><label for="classroom_shortname">Shortname</label><br/>
<%= text_field 'classroom', 'shortname'  %></p>

<p><label for="classroom_name">Name</label><br/>
<%= text_field 'classroom', 'name'  %></p>

<p><label for="classroom_mingrade">Mingrade</label><br/>
<%= text_field 'classroom', 'mingrade'  %></p>
<!--[eoform:classroom]-->

