<div style="float: right"><%= link_to 'Cancel', :controller=>'classrooms', :action => 'show', :id => @person.classroom %></div>
<h1>New person</h1>

<% form_tag do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>


