<div class="formrow">
  <div class="formlabel">
    <label for="assignment_person">Project Owner</label>
    You will be responsible for this project.
  </div>
  <div class="formitem">
    <%= @ownreq.person.name %>
  </div>
</div>
