<h1><%= @project.name %></h1>

<p class="info">
  <%=h @project.description %>
</p>

<p><button type="button" onclick="window.close()">close</button></p>
<script type="text/javascript">
 window.focus();
</script>
