<h1>Claiming project</h1>
<p>Read and update all fields below, then save.</p>

<% form_for :project do |form| %>
  <%= error_messages_for 'project' %>
  <%= render :partial => 'owners' %>
  <%= render :partial => 'form' %>
<% end %>
<p><span class="cancel"><%= link_to 'Cancel', :action => :history %></span></p>
