<div style="float: right"><%= link_to 'Cancel/Back to project list', :action => 'list' %></div>
<h1>New session for <%= @sess.project.name %></h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= hidden_field 'sess', 'project_id' %>
  <%= submit_tag "Create" %>
<% end %>

