<h1>Number of available projects by grade:</h1>

<ul>
<% for g in @grades %>
  <li>
    <strong><%=h grade(g) %>: <%= @proj[g].length %></strong>
    (<%= @proj[g].map{|p| link_to p.shortest_name, :action=>'show', :id=>p}.join(', ') %>)
  </li>
<% end %>
</ul>

<%= link_to 'Back to project list', :action=>'list' %>


