  <table style="page-break-inside: avoid; width: 100%;">
    <thead>
      <tr>
        <th>Project</th>
	<th>Sponsor/Notes</th>
      </tr>
    </thead>
    <tbody>
    <% for p in @projects %>
      <tr style="min-height: 3em;">
        <td><%= p.name %></td>
	<td><%= p.owner_requests.map { |r| r.person.name }.join(' ') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
