<%= error_messages_for 'timeslot' %>

<!--[form:timeslot]-->
<p><label for="timeslot_day">Day</label><br/>
<%= text_field 'timeslot', 'day'  %></p>

<p><label for="timeslot_start">Start</label><br/>
<%= text_field 'timeslot', 'start'  %></p>
</p>

<p><label for="timeslot_stop">Stop</label><br/>
<%= text_field 'timeslot', 'stop'  %></p>
</p>


<!--[eoform:timeslot]-->

