<div style="float: right"><%= link_to 'Cancel', :action => 'list' %></div>
<h1>Editing timeslot</h1>

<% form_tag :action => 'update', :id => @timeslot do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Update' %>
<% end %>

