<div style="float: right"><%= link_to 'Cancel/Back to list', :action => 'list' %></div>
<h1>Editing location</h1>

<% form_tag :action => 'update', :id => @location do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Update' %>
<% end %>

<%= link_to 'Delete', { :action => 'destroy', :id => @location }, :confirm => 'Really delete this location?', :method => 'post' %>
